#yellow {
	width: 250px;
	height: 150px;
	background-color: cyan;
	border: 1px cyan;
}

#orange {
	border: 1px solid orange;

}
.yellow {
	width: 250px;
	height: 150px;
	background-color: yellow;
}
.orange {
	border: 1px solid yellow;

}