.bb {
	width: auto;
	height: auto;
	background-color:#00AC39;
	border:3px solid white;
	margin-bottom: 25px;
	margin-left: 5px;
	padding:10px 0px 10px 100px;
}
.dd {
	width: auto;
	height: auto;
	background-color:#E54E94;
	border:3px solid white;
	margin-bottom: 25px;
	margin-left: 5px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 100px;
}

h1 {
	background-color: yellow;
	text-align: left;

}
h2 {
	background-color: cyan;
	text-align: left;

}
p {
	text-color: white;
}